                    <div id="content">  
                        <div class="row">
                            <form name="fahrzeugForm" novalidate>
                                <div class="row">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td><h4 class="title">{{title}}</h4></td>
                                                <td><a class="btn-floating btn-small waves-effect waves-light indigo netvocat" ng-click="reset()"><i class="material-icons">close</i></a></td>                            
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card blue-grey lighten-5 col s12">
                                    <div class="card-content">
                                        <div class="input-field col s12">
                                            <input type="text" id="kennzeichen" placeholder="Kennzeichen des Fahrzeugs" ng-model="formData.kennzeichen">
                                            <label class="active" for="kennzeichen">Kennzeichen</label>
                                            <div class="help-block" ng-messages="fahrzeugForm.kennzeichen.$error" ng-if="fahrzeugForm.kennzeichen.$touched">
                                                <p ng-message="required" >Kennzeichen ist ein Pflichtfeld!</p>
                                            </div>
                                        </div>
                                        <div class="input-field col s12">
                                            <input type="text" id="identnummer" placeholder="Identnummer des Fahrzeugs" ng-model="formData.identnummer">
                                            <label class="active" for="identnummer">Identnummer</label>
                                            <!--<div class="help-block" ng-messages="fahrzeugForm.idetnummer.$error" ng-if="fahrzeugForm.identnummer.$touched">
                                                <p ng-message="required" >Identnummer ist ein Pflichtfeld!</p>
                                            </div>-->
                                        </div>
                                        <div class="input-field col s12">
                                            <input type="text" id="beschreibung" placeholder="Beschreibung des Fahrzeugs" ng-model="formData.beschreibung">
                                            <label class="active" for="beschreibung">Beschreibung</label>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <label class="active" for="standort">Standort</label>
                                                <select class="browser-default" id="standort"
                                                        name="standort"
                                                        ng-init="formData._standort = { _id: formData.standortID}" 
                                                        ng-change="formData.standortID = formData.standort._id" 
                                                        ng-model="formData.standort" 
                                                        ng-options="standort._id as standort.bezeichnung for standort in dataservice.standorte() track by standort._id" required>

                                                </select>  
                                                <div class="help-block" ng-messages="fahrzeugForm.standort.$error" ng-if="fahrzeugForm.standort.$touched">
                                                    <p ng-message="required" >Standort ist ein Pflichtfeld!</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-group col s4">
                                                <input type="checkbox" id="aktiv" name="aktiv" ng-model="formData.aktiv">
                                                <label class="active" for="aktiv">Aktiv:</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-group col s4">
                                                <input type="checkbox" id="navigation" name="navigation" ng-model="formData.navigation">
                                                <label class="active" for="navigation">navigation:</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-group col s4">
                                                <input type="checkbox" id="reset" name="reset" ng-model="formData.reset">
                                                <label for="reset">reset:</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group col s6">
                                        <a class="waves-effect waves-light btn" ng-if="!fahrzeugForm.$invalid" ng-click="save()"><i class="material-icons left">save</i>speichern</a>
                                        <a class="waves-effect waves-light btn disabled" ng-if="fahrzeugForm.$invalid" ng-click="save()"><i class="material-icons left">save</i>speichern</a>
                                        <a class="waves-effect waves-light btn" ng-click="reset()"><i class="material-icons left">cancel</i>schliessen</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>                