                    <div id="content">
                        <form name="raumForm" ng-controller="staticDataCtrl" novalidate>
                            <p class='title'>{{title}}</h3>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Bezeichnung:</span>
                                <input type="text" class="form-control" placeholder="Bezeichnung der Ressource" aria-describedby="basic-addon1" name="bezeichnung" ng-model="formData.bezeichnung" required>
                                <div class="help-block" ng-messages="raumForm.bezeichnung.$error" ng-if="raumForm.bezeichnung.$touched">
                                    <p ng-message="required" >Bezeichnung ist ein Pflichtfeld!</p>
                                </div> 
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Generell beschränkter Zugang:</span>
                                <input type="checkbox" class="form-control" aria-describedby="basic-addon1" name="beschraenkt" ng-model="formData.beschraenkt">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Zugang von:</span>
                                <input type="date" class="form-control" placeholder="dd.mm.yyyy hh24:mi" aria-describedby="basic-addon1" name="zugangvon" ng-model="formData.zugangvon">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Zugang bis:</span>
                                <input type="date" class="form-control" placeholder="dd.mm.yyyy hh24:mi" aria-describedby="basic-addon1" name="zugangbis" ng-model="formData.zugangbis">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Zutrittsmittel:</span>
                               <div class="input-group">
                                    <select class="form-control" aria-describedby="basic-addon1"
                                            name="zutrittsmittel"
                                            ng-model="formData.zutrittsmittel" 
                                            ng-options="zutrittsmittel as zutrittsmittel.bezeichnung for zutrittsmittel in dataservice.zutrittsmittelliste() track by zutrittsmittel._id"
                                            multiple required>
                                    </select>
                                    <div class="help-block" ng-messages="raumForm.zutrittsmittel.$error" ng-if="raumForm.zutrittsmittel.$touched">
                                        <p ng-message="required" >Zutrittsmittel ist ein Pflichtfeld!</p>
                                    </div> 
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Datentypen:</span>
                               <div class="input-group">
                                    <select class="form-control" aria-describedby="basic-addon1" 
                                            name="datentypen"
                                            ng-model="formData.daten" 
                                            ng-options="data as data.bezeichnung for data in daten track by data._id"
                                            multiple required>
                                    </select>   
                                    <div class="help-block" ng-messages="raumForm.datentypen.$error" ng-if="raumForm.zutrittsmittel.$touched">
                                        <p ng-message="required" >Datentypen ist ein Pflichtfeld!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <button ng-click='save()' ng-disabled="raumForm.$invalid">Speichern</button>  
                                <button ng-click='reset()'>Schließen</button>
                            </div>
                        </form>
                    </div>

