                    <div id="content">
                        <div class="row">
                            <form name="ressourceForm" ng-controller="staticDataCtrl" novalidate>
                                <h4 class="title col s5">{{title}}</h4>
                                <div class="card blue-grey lighten-5 col s12">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="input-field col s6">
                                                <i class="material-icons prefix">label</i>
                                                <input type="text" id="bezeichnung" placeholder="Bezeichnung der Ressource" name="bezeichnung" ng-model="formData.bezeichnung" required>
                                                <label class="active" for="bezeichnung">Bezeichnung:</label>
                                                <div class="help-block" ng-messages="ressourceForm.bezeichnung.$error" ng-if="ressourceForm.bezeichnung.$touched">
                                                    <p ng-message="required" >Bezeichnung ist ein Pflichtfeld!</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">description</i>
                                            <input type="text" id="beschreibung" placeholder="Beschreibung der Ressource" name="bezeichnung" ng-model="formData.beschreibung">
                                            <label class="active" for="beschreibung">Beschreibung:</label>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s4">
<!--                                                <i class="material-icons prefix">class</i>-->
                                                <select name="typ" 
                                                        id="typ"
                                                        class="browser-default"
                                                        ng-init="formData._typ = { _id: formData.typID}" 
                                                        ng-change="formData.typID = formData.typ._id" 
                                                        ng-model="formData.typ" 
                                                        ng-options="typ._id as typ.bezeichnung for typ in dataservice.ressourcentypliste() track by typ._id" required>
                                                </select>
                                                <label class="active" for="typ">Typ</label>
                                                <div class="help-block" ng-messages="ressourceForm.typ.$error" ng-if="ressourceForm.typ.$touched">
                                                    <p ng-message="required" >Typ ist ein Pflichtfeld!</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-group">
                                                <div class="input-field col s4">
    <!--                                                <i class="material-icons prefix">folder_shared</i>-->
                                                    <select class="browser-default"
                                                            id="datentyp"
                                                            ng-model="formData.daten" 
                                                            name ="datentyp"
                                                            ng-options="data as data.bezeichnung for data in dataservice.daten() track by data._id"
                                                            multiple required>
                                                    </select> 
                                                    <label class="active" for="datentyp">Datentyp</label>
                                                    <div class="help-block" ng-messages="ressourceForm.datentyp.$error" ng-if="ressourceForm.datentyp.$touched">
                                                        <p ng-message="required" >Datentyp ist ein Pflichtfeld!</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row input-field col s12">
                                            <p></p>
                                        </div>
                                        <div class="row">
                                            <div class="input-field">
                                                <i class="material-icons prefix">priority_high</i>
                                                <input type="checkbox" name="aktiv" id="aktiv" ng-model="formData.aktiv">
                                                <label for="aktiv" class="active">Aktiv</label>
                                            </div>
                                        </div>     
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group col s6">
                                        <a class="waves-effect waves-light btn" ng-if="!zutrittsmittelForm.$invalid" ng-click="save()"><i class="material-icons left">save</i>speichern</a>
                                        <a class="waves-effect waves-light btn disabled" ng-if="zutrittsmittelForm.$invalid" ng-click="save()"><i class="material-icons left">save</i>speichern</a>
                                        <a class="waves-effect waves-light btn" ng-click="reset()"><i class="material-icons left">cancel</i>schliessen</a>
                                    </div>
                                </div>                               
                            </form>
                        </div>
                    </div>

