                        <form ng-controller="staticDataCtrl" ng-cloak>
                            <p class='title'>{{title}}</p>
                            <div class="controls-row"">
                                <label class="control-label span2">Mitarbeiter: {{formData.mitarbeiter.nachname + ' ' + formData.mitarbeiter.vorname + ' ( ' + formData.mitarbeiter.mitarbeiternr + ' )'}}</label>    
                            </div>
                            <div class="controls-row"">
                                <label class="control-label span2">Beschäftigungsverhältniss: {{formData.mitarbeiter.beschaeftigung.bezeichnung}}</label> 
                            </div>
                            <div class="controls-row"">
                                <label class="control-label span2">Aufgabe: {{formData.mitarbeiter.aufgabe.bezeichnung}}</label>                
                            </div>

                            <legend>Tresorzugriff:</legend>
                            <div class="controls controls-row" ng-repeat="zuo in formData.tresor_zuo">                             
                                <select class="span6"  
                                    ng-init="zuo._tresor = { _id: formData.tresorID}" 
                                    ng-change="formData.tresorID = tresor._id" 
                                    ng-model="zuo.tresor" 
                                    ng-options="tresor._id as tresor.bezeichnung for tresor in tresorliste track by tresor._id">
                                </select>
                                <select class="span6" 
                                    ng-init="zuo._zutrittsmittel = { _id: formData.zutrittsmittelID}" 
                                    ng-change="formData.zutrittsmittelID = zuo.zutrittsmittel._id" 
                                    ng-model="zuo.zutrittsmittel" 
                                    ng-options="zutrittsmittel._id as zutrittsmittel.bezeichnung for zutrittsmittel in zutrittsmittelliste track by zutrittsmittel._id">
                                </select>      
                                <button class="span2" ng-click="remove_entry(formData.tresor_zuo, zuo)">-</button>
                            </div>                             
                            <div class="input-group">
                                <button ng-click="add_entry(formData.tresor_zuo, {})">+</button>
                            </div>

                            <legend>Zutritt Räumlichkeiten:</legend>
                            <div class="controls controls-row" ng-repeat="zuo in formData.raum_zuo">                             
                                <select class="span6"  
                                    ng-init="zuo._raum = { _id: formData.raumID}" 
                                    ng-change="formData.raumID = raum._id" 
                                    ng-model="zuo.raum" 
                                    ng-options="raum._id as raum.bezeichnung for raum in raumliste track by raum._id">
                                </select>
                                <select class="span6" 
                                    ng-init="zuo._zutrittsmittel = { _id: formData.raum_zutrittsmittelID }" 
                                    ng-change="formData.raum_zutrittsmittelID = zuo.zutrittsmittel._id" 
                                    ng-model="zuo.zutrittsmittel" 
                                    ng-options="zutrittsmittel._id as zutrittsmittel.bezeichnung for zutrittsmittel in zutrittsmittelliste track by zutrittsmittel._id">
                                </select>
                                <button class="span2" ng-click="remove_entry(formData.raum_zuo, zuo)">-</button>
                            </div> 
                            <div class="input-group">
                                <button ng-click="add_entry(formData.raum_zuo, {})">+</button>
                            </div>

                            <legend>Fuhrpark:</legend>
                            <div class="controls controls-row" ng-repeat="fahrzeug in formData.fahrzeugliste">
                                <select class="span6"  
                                    ng-init="fahrzeug._fahrzeug = { _id: formData.fahrzeugID }" 
                                    ng-change="formData.fahrzeugID = zuo.fahrzeug.fahrzeug._id"
                                    ng-model="fahrzeug"
                                    ng-options="fzg._id as fzg.kennzeichen for fzg in fahrzeugliste track by fzg._id">
                                </select>
                                <button class="span2" ng-click="remove_entry(formData.fahrzeugliste, fahrzeug)">-</button>
                            </div>
                            <div class="input-group">
                                <button ng-click="add_entry(formData.fahrzeugliste, {})">+</button>
                            </div>

                            <legend>Berechtigungen auf Ressourcen:</legend>
                            <div class="controls controls-row" ng-repeat="zuo in formData.ressource_zuo">                             
                                <select class="span6"  
                                    ng-init="zuo._ressource = { _id: formData.ressourceID}" 
                                    ng-change="formData.ressourceID = ressource._id" 
                                    ng-model="zuo.ressource" 
                                    ng-options="ressource._id as ressource.bezeichnung for ressource in ressourcenliste track by ressource._id">
                                </select>
                                <select class="span6" 
                                    ng-init="zuo._rechte = { _id: formData.res_rechteID}" 
                                    ng-change="formData.res_rechteID = zuo.rechte._id" 
                                    ng-model="zuo.rechte" 
                                    ng-options="rechte._id as rechte.bezeichnung for rechte in rechteliste track by rechte._id">
                                </select>
                                <button class="span2" ng-click="remove_entry(formData.ressource_zuo, zuo)">-</button>
                            </div> 
                            <div class="input-group">
                                <button ng-click="add_entry(formData.ressource_zuo, {})">+</button>
                            </div>
                            
                            <legend>Berechtigung IT-Hardware:</legend>
                            <div class="controls controls-row" ng-repeat="zuo in formData.hardware_zuo">                             
                                <select class="span6"  
                                    ng-init="zuo._hardware = { _id: formData.hardwareID}" 
                                    ng-change="formData.hardwareID = hardware._id" 
                                    ng-model="zuo.hardware" 
                                    ng-options="hardware._id as hardware.bezeichnung for hardware in hardwareliste track by hardware._id">
                                </select>
                                <select class="span6" 
                                    ng-init="zuo._berechtigung = { _id: formData.berechtigungID}" 
                                    ng-change="formData.berechtigungID = zuo.berechtigung._id" 
                                    ng-model="zuo.berechtigung" 
                                    ng-options="berechtigung._id as berechtigung.bezeichnung for berechtigung in berechtigungliste track by berechtigung._id">
                                </select>
                                <button class="span2" ng-click="remove_entry(formData.hardware_zuo, zuo)">-</button>
                            </div> 
                            <div class="input-group">
                                <button ng-click="add_entry(formData.hardware_zuo, {})">+</button>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">BYOD:</span>
                                <input type="checkbox" class="form-control" aria-describedby="basic-addon1" name="byod" ng-model="formData.byod">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Fernzugriff:</span>
                                <input type="checkbox" class="form-control" aria-describedby="basic-addon1" name="byod" ng-model="formData.fernzugriff">
                            </div>
                            
                            <div class="input-group">
                                <button ng-click='save()'>Speichern</button> 
                                <button ng-click='reset()'>Schließen</button>
                            </div>
                        </form>

