                        <form ng-controller="staticDataCtrl">
                            <p class='title'>{{title}}</h3>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Bezeichnung:</span>
                                <input type="text" class="form-control" placeholder="Bezeichnung der Aufgabe" aria-describedby="basic-addon1" name="bezeichnung" ng-model="formData.bezeichnung">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Beschreibung:</span>
                                <input type="text" class="form-control" placeholder="Beschreibung" aria-describedby="basic-addon1" name="beschreibung" ng-model="formData.beschreibung">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Aktiv:</span>
                                <input type="checkbox" class="form-control" aria-describedby="basic-addon1" name="aktiv" ng-model="formData.aktiv">
                            </div>
                            <div class="input-group">
                                <button ng-click='save()'>Speichern</button>  
                                <button ng-click='reset()'>Schließen</button>
                            </div>
                        </form>

