                <div ng-switch="appdata.content">
                    <div ng-switch-when="edit_standort">
                        <% include content/standort.ejs %>
                    </div>
                    <div ng-switch-when="edit_aufgabe">
                        <% include content/aufgabe.ejs %>
                    </div>
                    <div ng-switch-when="edit_musterrolle">
                        <% include content/musterrolle.ejs %>
                    </div>
                    <div ng-switch-when="edit_befugnisse">
                        <!--<% include content/befugnisse.ejs %>-->
                        <% include content/mitarbeiter.ejs %>
                    </div>
                    <div ng-switch-when="edit_rechte">
                        <% include content/rechte.ejs %>
                    </div>
                    <div ng-switch-when="edit_beschaeftigung">
                        <% include content/beschaeftigung.ejs %>
                    </div>
                    <div ng-switch-when="edit_rolle">
                        <% include content/rolle.ejs %>
                    </div>
                    <div ng-switch-when="delete">
                        <% include content/delete.ejs %>
                    </div>
                    <div ng-switch-when="edit_daten">
                        <% include content/daten.ejs %>
                    </div>
                    <div ng-switch-when="edit_fahrzeug">
                        <% include content/fahrzeug.ejs %>
                    </div>
                    <div ng-switch-when="edit_mitarbeiter">
                        <% include content/mitarbeiter.ejs %>                
                    </div>
                    <div ng-switch-when="edit_hardware">
                        <% include content/hardware.ejs %>                
                    </div>
                    <div ng-switch-when="edit_ressource">
                        <% include content/ressource.ejs %>                
                    </div>
                    <div ng-switch-when="edit_ressourcentyp">
                        <% include content/ressourcentyp.ejs %>                
                    </div>
                    <div ng-switch-when="edit_tresor">
                        <% include content/tresor.ejs %>                
                    </div>
                    <div ng-switch-when="edit_zutrittsmittelstatus">
                        <% include content/zutrittsmittelstatus.ejs %>                
                    </div>
                    <div ng-switch-when="edit_zutrittsmittel">
                        <% include content/zutrittsmittel.ejs %>                
                    </div>
                    <div ng-switch-when="edit_mitarbeiterstatus">
                        <% include content/mitarbeiterstatus.ejs %>                
                    </div>
                    <div ng-switch-when="edit_raum">
                        <% include content/raum.ejs %>                
                    </div>
                    <div ng-switch-when="edit_benutzer">
                        <% include content/benutzer.ejs %>                
                    </div>
                    <div ng-switch-when="report">
                        <% include content/report.ejs %>                
                    </div>
                    <div ng-switch-when="reporttyp">
                        <% include content/reporttyp.ejs %>                
                    </div>
                    <div ng-switch-default></div>
                </div>  
