            <content>
                 <div ng-switch="appdata.content">
                    <div ng-switch-when="edit_standort">
                        <% include standort.ejs %>
                    </div>
                    <div ng-switch-when="edit_aufgabe">
                        <% include aufgabe.ejs %>
                    </div>
                    <div ng-switch-when="edit_rolle">
                        <% include rolle.ejs %>
                    </div>
                    <div ng-switch-when="delete">
                        <% include delete.ejs %>
                    </div>
                    <div ng-switch-when="edit_daten">
                        <% include daten.ejs %>
                    </div>
                    <div ng-switch-when="edit_fahrzeug">
                        <% include fahrzeug.ejs %>
                    </div>
                    <div ng-switch-when="create_mitarbeiter">
                        <% include mitarbeiter.ejs %>                
                    </div>
                    <div ng-switch-when="edit_hardware">
                        <% include hardware.ejs %>                
                    </div>
                    <div ng-switch-when="edit_ressource">
                        <% include itressource.ejs %>                
                    </div>
                    <div ng-switch-when="edit_tresor">
                        <% include tresor.ejs %>                
                    </div>
                    <div ng-switch-when="edit_papierdokumente">
                        <% include papierdokumente.ejs %>                
                    </div>
                    <div ng-switch-when="edit_zutrittsmittelstatus">
                        <% include zutrittsmittelstatus.ejs %>                
                    </div>
                    <div ng-switch-when="edit_zutrittsmittel">
                        <% include zutrittsmittel.ejs %>                
                    </div>
                    <div ng-switch-default></div>
                </div>
            </content>   
