                        <form ng-controller="staticDataCtrl" ng-submit="save()">
                            <p class='title'>{{title}}</h3>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Bezeichnung:</span>
                                <input type="text" class="form-control" placeholder="Bezeichnung der Aufgabe" aria-describedby="basic-addon1" name="bezeichnung" ng-model="formData.bezeichnung">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Sensibel:</span>
                                <input type="checkbox" class="form-control" aria-describedby="basic-addon1" name="sensibel" ng-model="formData.sensibel">
                            </div>
                            <div class="input-group">
                                <input type="submit" class="form-control" value="Speichere Datentyp"> 
                                <button ng-click='reset()'>Schließen</button>
                            </div>
                        </form>

