                        <form ng-controller="staticDataCtrl">
                            <table>
                                <th><h2><p class='title'>{{title}}</p></h2></th>
                                <tr><td colspan="2"><h4>Wollen Sie den Datensatz "{{formData.bezeichnung}}" wirklich löschen?</h4></td></tr>
                                <tr>
                                    <button ng-click='delete()'>Speichern</button> 
                                    <td><button ng-click='reset()' class="form-control">Abbrechen</button></td>
                                </tr>
                            </table>
                        </form>
