<!DOCTYPE html>
<html ng-app="datasec">
    <head>
        <title>User locked</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
        <script type="text/javascript" src="../static/js/datasec.js"></script>
    </head>
    <body ng-controller="myController">
        <header><h2>Netvocat DataSec - Berechtigungskonzept</h2></header>
         <div class="center_container">
            <p class="form-header">Login</p>
            <h3>Datenbank ist nicht mehr erreichbar! Bitte kontaktieren Sie ihren Administrator!</h3>
            <a href="/login">Zurück zum Login</a>
        </div>
        <footer></footer> 
    </body>
</html>
