<!DOCTYPE html>
<html ng-app="datasec">
    <head>
        <title>Netvocat - DataSec</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
        <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap-datepicker-1.5.0-dist/css/bootstrap-datepicker3.standalone.css"/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.js"></script>
        <script type="text/javascript" src="../node_modules/dropdown-multiselect/angularjs-dropdown-multiselect.min.js"></script>
        <script type="text/javascript" src="../static/js/datasec.js"></script>
        <script src="../node_modules/jquery/dist/jquery.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script src="../node_modules/bootstrap-datepicker-1.5.0-dist/js/bootstrap-datepicker.js"></script>
    </head>
    <body ng-controller="myController">
        <header><h2>Netvocat DataSec - Berechtigungskonzept</h2></header>
        <div id="main">
            <% include nav.ejs %>
            <% include submenu.ejs %>
            <% include content.ejs %>      
        </div>
        <footer>Message: {{appdata.msg}}</footer>
    </body>
</html>
