<!DOCTYPE html>
<html ng-app="datasec">
    <head>
        <title>Netvocat - DataSec</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" /-->
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/materialize.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.3.js" crossorigin="anonymous"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
        <script type="text/javascript" src="../static/js/datasec.js"></script>
        <script type="text/javascript" src="../static/js/materialize.min.js"></script>
    </head>
    <body ng-controller="myController">
<!--        <header><h3>Netvocat DataSec - Berechtigungskonzept</h3>     <h5>{{appdata.user.name + ' ( ' + appdata.user.rolle.bezeichnung + ' ) '}}  
                    <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">power_settings_new</i></a>
        </header>-->
        <nav>
            <div class="nav-wrapper indigo netvocat">
                <img src="/static/img/logo.jpg"/><a href="#" class="brand-logo" >DataSec - Berechtigungskonzept</a>
                <ul id="nav-mobile" class="right hide-on-small-and-down">
                    <li>{{appdata.user.name + ' ( ' + appdata.user.rolle.bezeichnung + ' ) '}}</li>
                    <li><a ng-click="logout()" class="btn-floating btn-large waves-effect waves-light deep-orange darken-4"><i class="material-icons">power_settings_new</i></a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col s2 nav">
                <% include nav_1.ejs %>
            </div>
            <div class="col s3">
                <% include submenu.ejs %>
            </div>
            <div class="col s7 ">
                <% include content.ejs %>
            </div>
        </div>
        
        <footer class="page-footer indigo netvocat">
          <div class="container">
            <div class="row">
              <div class="col s12">
                <h5 class="white-text left-align">Message:</h5>
                <p class="grey-text text-lighten-4 left-align">{{appdata.msg}}</p>
              </div>
              
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
                © 2016 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">Disclaimer</a>
            </div>
          </div>
        </footer>
            
    </body>
</html>
