<!DOCTYPE html>
<html ng-app="datasec">
    <head>
        <title>User Login and Sessions</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/materialize.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.js"></script>
        <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
        <script type="text/javascript" src="../static/js/materialize.min.js"></script>
    </head>
    <body ng-controller="DataSecController">
         <nav>
            <div class="nav-wrapper indigo netvocat">
                <img src="/static/img/logo.jpg"/><a href="#" class="brand-logo" >DataSec - Berechtigungskonzept</a>
            </div>
        </nav>
        <div class="row">
            <div id="nav" class="col s2 white"></div>
            <div class="col s6 m6 valign-wrapper">
                <div id="login" class="card z-depth-1 grey lighten-4 row hoverable">
                    <div class="card-content">
                        <span class="card-title">Benutzer gesperrt!</span>
                        <p>Benutzer ist gesperrt! Bitte kontaktieren Sie ihren Administrator!</p>        
                    </div>
                    <div class="card-action">
                        <a href="/login">Zurück zum Login</a>
                    </div>
                </div>      
            </div> 
        </div>
        <footer class="page-footer indigo netvocat">
          <div class="container">
            <div class="row">
              <div class="col s12">
                <h5 class="white-text left-align"></h5>
                <p class="grey-text text-lighten-4 left-align"></p>
              </div>
              
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
                © 2016 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">Disclaimer</a>
            </div>
          </div>
        </footer>
    </body>
</html>

