                        <form name="mitarbeiterForm" ng-controller="staticDataCtrl" novalidate>
                            <p class='title'>{{title}}</h3>
                            <div class="input-group">
                                <span class="input-group-addon " id="basic-addon1">Mitarbeiter Nr:</span>
                                <input type="text" name="mitarbeiternr" class="form-control" placeholder="Mitarbeiter Nummer" aria-describedby="basic-addon1" ng-model="formData.mitarbeiternr" required>
                                <div class="help-block" ng-messages="mitarbeiterForm.mitarbeiternr.$error" ng-if="mitarbeiterForm.mitarbeiternr.$touched">
                                    <p ng-message="required" >Mitarbeiter Nummer ist ein Pflichtfeld!</p>
                                </div>
                            </div>
                   
                            
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Vorname:</span>
                                <input type="text" class="form-control" placeholder="Vorname" name="vorname" aria-describedby="basic-addon1" ng-model="formData.vorname" required>
                                <div class="help-block" ng-messages="mitarbeiterForm.vorname.$error" ng-if="mitarbeiterForm.vorname.$touched">
                                    <p ng-message="required" >Vorname ist ein Pflichtfeld!</p>
                                </div>
                            </div>
                      

                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Nachname:</span>
                                <input type="text" class="form-control" placeholder="Nachname" name="nachname" aria-describedby="basic-addon1" ng-model="formData.nachname" required>
                                <div class="help-block" ng-messages="mitarbeiterForm.nachname.$error" ng-if="mitarbeiterForm.nachname.$touched">
                                    <p ng-message="required" >Nachname ist ein Pflichtfeld!</p>
                                </div>
                            </div>
                  
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Geburtsdatum:</span>
                                <input type="text" class="form-control" placeholder="Geburtsdatum" aria-describedby="basic-addon1" name="geburtsdatum" ng-model="formData.geburtsdatum" required>
                                <div class="help-block" ng-messages="mitarbeiterForm.geburtsdatum.$error" ng-if="mitarbeiterForm.geburtsdatum.$touched">
                                    <p ng-message="required" >Geburtsdatum ist ein Pflichtfeld!</p>
                                </div>
                            </div>
                                
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Standort:</span>
                                <div class="input-group">
                                    <select class="form-control" aria-describedby="basic-addon1" 
                                            name="standort"
                                            ng-model="formData.standort" 
                                            ng-options="standort as standort.bezeichnung for standort in standorte track by standort._id" required>
                                    </select>
                                    <div class="help-block" ng-messages="mitarbeiterForm.standort.$error" ng-if="mitarbeiterForm.standort.$touched">
                                        <p ng-message="required" >Standort ist ein Pflichtfeld!</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Aufgabe:</span>
                                <div class="input-group">
                                    <select class="form-control" id="inputAufgabe" aria-describedby="basic-addon1" 
                                            name="aufgabe"
                                            ng-model="formData.aufgabe" 
                                            ng-options="aufgabe as aufgabe.bezeichnung for aufgabe in dataservice.aufgabenliste() track by aufgabe._id" required>
                                    </select>  
                                    <div class="help-block" ng-messages="mitarbeiterForm.aufgabe.$error" ng-if="mitarbeiterForm.aufgabe.$touched">
                                        <p ng-message="required" >Aufgabe ist ein Pflichtfeld!</p>
                                    </div>
                                </div>
                            </div>
   
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Beschäftigungsverhältnis:</span>
                                <div class="input-group">
                                    <select class="form-control" aria-describedby="basic-addon1" 
                                            name="beschaeftigung"
                                            ng-model="formData.beschaeftigung" 
                                            ng-options="beschaeftigung as beschaeftigung.bezeichnung for beschaeftigung in dataservice.beschaeftigungliste() track by beschaeftigung._id" required>
                                    </select> 
                                    <div class="help-block" ng-messages="mitarbeiterForm.beschaeftigung.$error" ng-if="mitarbeiterForm.beschaeftigung.$touched">
                                        <p ng-message="required" >Beschäftigungsverhältnis ist ein Pflichtfeld!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Status:</span>
                               <div class="input-group">
                                <select class="form-control" aria-describedby="basic-addon1" 
                                        name="status"
                                        ng-model="formData.status" 
                                        ng-options="status as status.bezeichnung for status in dataservice.mitarbeiterstatusliste() track by status._id">
                                </select>               
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Urlaubsvertretung:</span>
                               <div class="input-group">
                                <select class="form-control" aria-describedby="basic-addon1"
                                        name="urlaubsvertretung"
                                        ng-model="formData.urlaubsvertretung" 
                                        ng-options="urlaubsvertretung as urlaubsvertretung.string for urlaubsvertretung in dataservice.mitarbeiterliste() track by urlaubsvertretung._id">
                                </select>               
                                </div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Urlaubsvertretung Seit:</span>
                                <input type="date" class="form-control" placeholder="dd.mm.yyyy" aria-describedby="basic-addon1" name="vertretungSeit" ng-model="formData.vertretungSeit">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Urlaubsvertretung Bis:</span>
                                <input type="date" class="form-control" placeholder="dd.mm.yyyy" aria-describedby="basic-addon1" name="vertretungBis" ng-model="formData.vertretungBis">
                            </div>
                            <div class="input-group">
                                <button ng-click='save()' ng-disabled="mitarbeiterForm.$invalid">Speichern</button>  
                                <button ng-click='reset()'>Schließen</button>
                            </div>
                        </form>        
