<nav> 
                <div>
                    <div><h3>Menu</h3></div>
                    <div class="btn-group-vertical">
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('befugnisse')">Befugnisse</button></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('auswertungen')">Auswertungen</button></div>
                    </div>
                        
                    <div><h4>Stammdaten</h4></div>
                    <div class="btn-group-vertical">
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('mitarbeiter')">Mitarbeiter</button></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('aufgabe')">Aufgabe</button></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('aufgabenbefugnisse')">Aufgabenbezogene Befugnisse</button></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('berechtigungen')">Berechtigungen</button></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('dokumente')">Datenschlutzerklärungsdokumente</button></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('rolle')">Rollen</button></div>
                        <div><h5>Daten</h5></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('daten')">Datentypen</button></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('fahrzeug')">Fuhrpark</button></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('hardware')">IT-Hardware</button></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('ressourcen')">IT-Ressourcen</button></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('papierdokumente')">Papierdokumente</button></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('raum')">Raum</button></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('standort')">Standort</button></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('tresor')">Tresor</button></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('zutrittsmittel')">Zutrittsmittel</button></div>
                        <div><h5>Status</h5></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('mitarbeiterstatus')">MitarbeiterStatus</button></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('zutrittsmittelstatus')">Zutrittsmittel Status</button></div>
                    </div>       
                    <div><h4>Administration</h4></div>
                    <div class="btn-group-vertical">
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('einstellung')">Einstellung</button></div>
                        <div><button class="btn btn-default btn-sm" ng-click="call_submenu('benutzer')">Benutzeradministration</button></div>
                    </div>                          
                </div>
            </nav>
