                        <form name="rechteForm" ng-controller="staticDataCtrl" novalidate>
                            <p class='title'>{{title}}</p>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Bezeichnung:</span>
                                <input type="text" class="form-control" placeholder="Bezeichnung des Rechts" aria-describedby="basic-addon1" name="bezeichnung" ng-model="formData.bezeichnung" required>
                                <div class="help-block" ng-messages="rechteForm.bezeichnung.$error" ng-if="rechteForm.bezeichnung.$touched">
                                    <p ng-message="required" >Bezeichnung ist ein Pflichtfeld!</p>
                                </div> 
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Beschreibung:</span>
                                <input type="text" class="form-control" placeholder="Beschreibung" aria-describedby="basic-addon1" name="beschreibung" ng-model="formData.beschreibung">
                            </div>
                            <div class="input-group">
                                <button ng-click='save()' ng-disabled="rechteForm.$invalid">Speichern</button>  
                                <button ng-click='reset()'>Schließen</button>
                            </div>
                        </form>

