                        <form name="ressourcentypForm" ng-controller="staticDataCtrl" novalidate>
                            <p class='title'>{{title}}</h3>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Bezeichnung:</span>
                                <input type="text" class="form-control" placeholder="Bezeichnung des Ressourcen Typs" aria-describedby="basic-addon1" name="bezeichnung" ng-model="formData.bezeichnung" required>
                                <div class="help-block" ng-messages="ressourcentypForm.bezeichnung.$error" ng-if="ressourcentypForm.bezeichnung.$touched">
                                    <p ng-message="required" >Bezeichnung ist ein Pflichtfeld!</p>
                                </div> 
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Aktiv:</span>
                                <input type="checkbox" class="form-control" aria-describedby="basic-addon1" name="aktiv" ng-model="formData.aktiv">
                            </div>   
                            <div class="input-group">
                                <button ng-click='save()' ng-disabled="ressourcentypForm.$invalid">Speichern</button>  
                                <button ng-click='reset()'>Schließen</button>
                            </div>
                        </form>

