                        <form name="standortForm" ng-controller="staticDataCtrl" novalidate>
                            <p class='title'>{{title}}</h3>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Bezeichnung:</span>
                                <input type="text" class="form-control" placeholder="Standortbezeichnung" aria-describedby="basic-addon1" name="bezeichnung" ng-model="formData.bezeichnung" required>
                                <div class="help-block" ng-messages="standortForm.bezeichnung.$error" ng-if="standortForm.bezeichnung.$touched">
                                    <p ng-message="required" >Bezeichnung ist ein Pflichtfeld!</p>
                                </div>  
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Land:</span>
                                <input type="text" class="form-control" placeholder="Land" aria-describedby="basic-addon1" name="land" ng-model="formData.land" required>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Hauptstandort:</span>
                                <input type="checkbox" class="form-control" aria-describedby="basic-addon1" name="hauptstandort" ng-model="formData.hauptstandort">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Gründung:</span>
                                <input type="date" class="form-control" placeholder="dd.mm.yyyy" aria-describedby="basic-addon1" name="gruendung" ng-model="formData.gruendung">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">Schließung:</span>
                                <input type="date" class="form-control" placeholder="dd.mm.yyyy" aria-describedby="basic-addon1" name="schliessung" ng-model="formData.schliessung">
                            </div>
                            <div class="input-group">
                                <button ng-click='save()' ng-disabled="standortForm.$invalid">Speichern</button>  
                                <button ng-click='reset()'>Schließen</button>
                            </div>
                        </form>
