<submenu>
    <div><h4>Filter:</h4><input type="text" ng-model="filter"></div>
    
    <div ng-switch="submenu">
        <!-- Berechtigung --> 
        <div ng-switch-when="berechtigungen">
            <p> Berechtigung </p>
        </div>

        <!-- Standort --> 
        <div ng-switch-when="standort">
             <button ng-click="call_content('create_standort')">Standort anlegen</button>
             <ul>
                <li ng-repeat="item in standortListe">
                    {{ item.bezeichnung }}
                </li>
             </ul>
        </div>

        <!-- Mitarbeiter -->
        <div ng-switch-when="mitarbeiter">
            <button ng-click="call_content('create_mitarbeiter')">Mitarbeiter anlegen</button>
        </div>

        <!-- Default --> 
        <div ng-switch-default>
            <p></p>
        </div>
    </div>
</submenu>
