<submenu>    
    <div ng-switch="appdata.submenu">
        <!-- Berechtigung --> 
        <div ng-switch-when="berechtigungen">
            <p> Berechtigung </p>
        </div>

        <!-- Standort --> 
        <div ng-switch-when="standort">
            <button ng-click="call_content('edit_standort')">Standort anlegen</button>
            <p></p> 
            Angelegte Standorte:
            <ul>
                <li ng-repeat="item in list">
                    <a ng-click="call_content('edit_standort', item._id)">{{ item.bezeichnung }}</a><button ng-click="call_content('delete_standort') ng-model="formData.standort">Löschen</button>
                </li>
             </ul>
        </div>

        <!-- Mitarbeiter -->
        <div ng-switch-when="mitarbeiter">
            <button ng-click="call_content('create_mitarbeiter')">Mitarbeiter anlegen</button>
        </div>

        <!-- Default --> 
        <div ng-switch-default>
            <p></p>
        </div>
    </div>
</submenu>
