<submenu>    
    <div ng-switch="appdata.submenu">
        <!-- Berechtigung --> 
        <div ng-switch-when="berechtigungen">
            <p> Berechtigung </p>
        </div>

        <!-- Standort --> 
        <div ng-switch-when="standort">
            <center><h3>Standorte</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_standort', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_standort')">Standort anlegen</button></td></tr>
             </table>
        </div>

        <!-- Aufgabe --> 
        <div ng-switch-when="aufgabe">
            <center><h3>Aufgaben</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_aufgabe', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_aufgabe')">Aufgabe anlegen</button></td></tr>
             </table>
        </div>

        <!-- Rolle --> 
        <div ng-switch-when="rolle">
            <center><h3>Rollen</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_rolle', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_rolle')">Rolle anlegen</button></td></tr>
             </table>
        </div>

        <!-- Daten --> 
        <div ng-switch-when="daten">
            <center><h3>Datentypen</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_daten', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_daten')">Datentyp anlegen</button></td></tr>
             </table>
        </div>

        <!-- Mitarbeiter -->
        <div ng-switch-when="mitarbeiter">
            <button ng-click="call_content('create_mitarbeiter')">Mitarbeiter anlegen</button>
        </div>

        <!-- Fahrzeug -->
        <div ng-switch-when="fahrzeug">
            <center><h3>Fuhrpark</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="reset();call_content('edit_fahrzeug', item._id)">{{ item.kennzeichen }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="reset();call_content('edit_fahrzeug')">Fahrzeug anlegen</button></td></tr>
             </table>
        </div>

        <!-- Default --> 
        <div ng-switch-default>
            <p></p>
        </div>
    </div>
</submenu>
