<submenu>    
    <div ng-switch="appdata.submenu">
        <!-- Standort --> 
        <div ng-switch-when="standort">
            <center><h3>Standorte</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_standort', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_standort')">Standort anlegen</button></td></tr>
             </table>
        </div>

        <!-- Aufgabe --> 
        <div ng-switch-when="aufgabe">
            <center><h3>Aufgaben</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_aufgabe', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_aufgabe')">Aufgabe anlegen</button></td></tr>
             </table>
        </div>

        <!-- Befugnisse -->
        <div ng-switch-when="befugnisse">
            <center><h3>Befugnissverwaltung</h3></center>
            <p></p> 
            <table class="table table-hover">
               <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
               <tr ng-repeat="item in list | filter:filter">
                   <td><a ng-click="call_content('edit_befugnisse', item._id)">{{ item.mitarbeiternr + ' - ' + item.nachname + ' ' + item.vorname + ' ' + item._id + ' ( ' + item.standort.bezeichnung + ' )' }}</a></td>
               </tr>
            </table>
        </div>

        <!-- Muster Rollen --> 
        <div ng-switch-when="musterrolle">
            <center><h3>Muster Rollen</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_musterrolle', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_musterrolle')">Muster Rolle anlegen</button></td></tr>
             </table>
        </div>

        <!-- Berechtigung --> 
        <div ng-switch-when="berechtigung">
            <center><h3>Berechtigungen</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_berechtigung', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_berechtigung')">Berechtigung anlegen</button></td></tr>
             </table>
        </div>

        <!-- Beschäftigungsverhältniss --> 
        <div ng-switch-when="beschaeftigung">
            <center><h3>Beschäftigungsverhältnisse</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_beschaeftigung', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_beschaeftigung')">Beschäftigungsverhältniss anlegen</button></td></tr>
             </table>
        </div>

        <!-- Rolle --> 
        <div ng-switch-when="rolle">
            <center><h3>Rollen</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_rolle', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_rolle')">Rolle anlegen</button></td></tr>
             </table>
        </div>

        <!-- Daten --> 
        <div ng-switch-when="daten">
            <center><h3>Datentypen</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_daten', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_daten')">Datentyp anlegen</button></td></tr>
             </table>
        </div>

        <!-- Mitarbeiter -->
        <div ng-switch-when="mitarbeiter">
            <center><h3>Mitarbeiterliste</h3></center>
            <p></p> 
            <table class="table table-hover">
               <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
               <tr ng-repeat="item in list | filter:filter">
                   <td><a ng-click="call_content('edit_mitarbeiter', item._id)">{{ item.mitarbeiternr + ' - ' + item.nachname + ' ' + item.vorname + ' ( ' + item.standort.bezeichnung + ' )' }}</a></td>
                   <td><button ng-click="call_content('delete', item._id)">X</button></td>
               </tr>
               <tr> </tr>
               <tr><td colspan="2"><button ng-click="call_content('edit_mitarbeiter')">Mitarbeiter erfassen</button></td></tr>
            </table>
        </div>

        <!-- Fahrzeug -->
        <div ng-switch-when="fahrzeug">
            <center><h3>Fuhrpark</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="reset();call_content('edit_fahrzeug', item._id)">{{ item.kennzeichen }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="reset();call_content('edit_fahrzeug')">Fahrzeug anlegen</button></td></tr>
             </table>
        </div>

        <!-- IT - Hardware -->
        <div ng-switch-when="hardware">
            <center><h3>IT - Hardware</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_hardware', item._id)">{{ item.inventarNr + '(' + item.bezeichnung + ')' }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_hardware')">Hardware erfassen</button></td></tr>
             </table>
        </div>

        <!-- Ressourcen -->
        <div ng-switch-when="ressourcen">
            <center><h3>Ressourcen</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_ressource', item._id)">{{ item.bezeichnung + ' ( ' + item.typ.bezeichnung + ' )'  }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_ressource')">Ressource erfassen</button></td></tr>
             </table>
        </div>

        <!-- Ressourcentyp -->
        <div ng-switch-when="ressourcentyp">
            <center><h3>Ressourcen Typen</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_ressourcentyp', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_ressourcentyp')">Ressourcen Typ erfassen</button></td></tr>
             </table>
        </div>

        <!-- Tresor -->
        <div ng-switch-when="tresor">
            <center><h3>Tresorverwaltung</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_tresor', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_tresor')">Tresor anlegen</button></td></tr>
             </table>
        </div>

        <!-- zutrittsmittelstatus -->
        <div ng-switch-when="zutrittsmittelstatus">
            <center><h3>Zutrittsmittel Status</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_zutrittsmittelstatus', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_zutrittsmittelstatus')">Status anlegen</button></td></tr>
             </table>
        </div>

        <!-- Zutrittsmittel -->
        <div ng-switch-when="zutrittsmittel">
            <center><h3>Zutrittsmittel</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_zutrittsmittel', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_zutrittsmittel')">Zutrittsmittel erfassen</button></td></tr>
             </table>
        </div>

        <!-- Mitarbeiter Status -->
        <div ng-switch-when="mitarbeiterstatus">
            <center><h3>Mitarbeiter Status</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_mitarbeiterstatus', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_mitarbeiterstatus')">Status erfassen</button></td></tr>
             </table>
        </div>

        <!-- Räumlichkeiten -->
        <div ng-switch-when="raum">
            <center><h3>Räumlichkeiten</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_raum', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_raum')">Raum erfassen</button></td></tr>
             </table>
        </div>

        <!-- Default --> 
        <div ng-switch-default>
            <p></p>
        </div>
    </div>
</submenu>
