<submenu>    
    <div ng-switch="appdata.submenu">
        <!-- Berechtigung --> 
        <div ng-switch-when="berechtigungen">
            <p> Berechtigung </p>
        </div>

        <!-- Standort --> 
        <div ng-switch-when="standort">
            <center><h3>Standorte</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_standort', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_standort')">Standort anlegen</button></td></tr>
             </table>
        </div>

        <!-- Aufgabe --> 
        <div ng-switch-when="aufgabe">
            <center><h3>Aufgaben</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_aufgabe', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_aufgabe')">Aufgabe anlegen</button></td></tr>
             </table>
        </div>

        <!-- Rolle --> 
        <div ng-switch-when="rolle">
            <center><h3>Rollen</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_rolle', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_rolle')">Rolle anlegen</button></td></tr>
             </table>
        </div>

        <!-- Daten --> 
        <div ng-switch-when="daten">
            <center><h3>Datentypen</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_daten', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_daten')">Datentyp anlegen</button></td></tr>
             </table>
        </div>

        <!-- Mitarbeiter -->
        <div ng-switch-when="mitarbeiter">
            <button ng-click="call_content('create_mitarbeiter')">Mitarbeiter anlegen</button>
        </div>

        <!-- Fahrzeug -->
        <div ng-switch-when="fahrzeug">
            <center><h3>Fuhrpark</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="reset();call_content('edit_fahrzeug', item._id)">{{ item.kennzeichen }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="reset();call_content('edit_fahrzeug')">Fahrzeug anlegen</button></td></tr>
             </table>
        </div>

        <!-- IT - Hardware -->
        <div ng-switch-when="hardware">
            <center><h3>IT - Hardware</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_hardware', item._id)">{{ item.inventarNr + '(' + item.bezeichnung + ')' }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_hardware')">Hardware erfassen</button></td></tr>
             </table>
        </div>

        <!-- IT - Ressourcen -->
        <div ng-switch-when="ressourcen">
            <center><h3>IT - Ressourcen</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_ressource', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_ressource')">IT-Ressource erfassen</button></td></tr>
             </table>
        </div>

        <!-- Tresor -->
        <div ng-switch-when="tresor">
            <center><h3>Tresorverwaltung</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_tresor', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_tresor')">Tresor anlegen</button></td></tr>
             </table>
        </div>

        <!-- Papierdokumente -->
        <div ng-switch-when="papierdokumente">
            <center><h3>Papierdokumente</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_papierdokumente', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_papierdokumente')">Papierdokument erfassen</button></td></tr>
             </table>
        </div>

        <!-- zutrittsmittelstatus -->
        <div ng-switch-when="zutrittsmittelstatus">
            <center><h3>Zutrittsmittel Status</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_zutrittsmittelstatus', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_zutrittsmittelstatus')">Status anlegen</button></td></tr>
             </table>
        </div>

        <!-- Zutrittsmittel -->
        <div ng-switch-when="zutrittsmittel">
            <center><h3>Zutrittsmittel</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_zutrittsmittel', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_zutrittsmittel')">Zutrittsmittel erfassen</button></td></tr>
             </table>
        </div>

        <!-- Mitarbeiter Status -->
        <div ng-switch-when="mitarbeiterstatus">
            <center><h3>Mitarbeiter Status</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_mitarbeiterstatus', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_mitarbeiterstatus')">Status erfassen</button></td></tr>
             </table>
        </div>

        <!-- Mitarbeiter Status -->
        <div ng-switch-when="raum">
            <center><h3>Räumlichkeiten</h3></center>
            <p></p> 
             <table class="table table-hover">
                <tr><td colspan="2"><input type="text" ng-model="filter" class="form-control" placeholder="Filter" aria-describedby="basic-addon1"></td></tr>
                <tr ng-repeat="item in list | filter:filter">
                    <td><a ng-click="call_content('edit_raum', item._id)">{{ item.bezeichnung }}</a></td>
                    <td><button ng-click="call_content('delete', item._id)">X</button></td>
                </tr>
                <tr> </tr>
                <tr><td colspan="2"><button ng-click="call_content('edit_raum')">Raum erfassen</button></td></tr>
             </table>
        </div>

        <!-- Default --> 
        <div ng-switch-default>
            <p></p>
        </div>
    </div>
</submenu>
