div.form-container{
    display:inline-block;
    border: 4px ridge blue;
    width: 280px;
    border-radius: 10px;
    margin: 10px;
}

div.center_container{
    display:inline-block;
    border: 4px ridge blue;
    width: 500px;
    border-radius: 10px;
    margin: 10px;
    align-content: center;
}

p.form-header{
    margin: 0px;
    font: 24px bold;
    color: white;
    background: blue;
    text-align: center;
}

p.title {
    text-transform:capitalize;
    font: 24px bold;
}

form{
    margin: 10px;
}

label {
    width: 80px;
    display: inline-block;
}

input {
    border: 3px ridge blue;
    border-radius: 5px;
    padding: 3px;
}

input[type=submit]{
    font: 18px bold;
    width: 120px;
    color: white;
    background: blue;
    margin-top: 15px;
    margin-left: 85px;
}

/*<!-- MENU --> */

#main {
 min-height: 600px;
 margin: 0px;
 padding: 0px;
 display: -webkit-flex;
 display:         flex;
 -webkit-flex-flow: row;
         flex-flow: row;
 flex-direction:  row;
 }

#main > content {
 margin: 4px;
 padding: 5px;
 border: 1px solid #e5e5e5;
 border-radius: 5pt;
 background: #f2f2f2;
 -webkit-flex: 3 1 75%;
         flex: 3 1 75%;
 -webkit-order: 3;
         order: 3;
 }

#main > nav {
 margin: 4px;
 padding: 5px;
 border: 1px solid #8888bb;
 border-radius: 5pt;
 background: #d9d9d9;
 -webkit-flex: 1 6 15%;
         flex: 1 6 15%;
 -webkit-order: 1;
         order: 1;
 }

#main > submenu {
 margin: 4px;
 padding: 5px;
 border: 1px solid #999999;
 border-radius: 5pt;
 background: #e6e6e6;
 -webkit-flex: 1 6 10%;
         flex: 1 6 10%;
 -webkit-order: 2;
         order: 2;
 }

header, footer {
 display: block;
 margin: 4px;
 padding: 5px;
 min-height: 100px;
 border: 1px solid #4d4dff;
 border-radius: 5pt;
 background: #9999ff;
 }

/* Too narrow to support three columns */
/*@media all and (max-width: 640px) {

 #main, #page {
  -webkit-flex-flow: column;
          flex-direction: column;
 }

 #main > content, #main > nav, #main > submenu {
   Return them to document order 
  -webkit-order: 0;
          order: 0;
 }

 #main > nav, #main > submenu, header, footer {
  min-height: 50px;
  max-height: 50px;
 }
}*/