header, footer {
 display: block;
 margin: 4px;
 padding: 5px;
 min-height: 40px;
 border: 1px solid #4d4dff;
 border-radius: 5pt;
 background: #9999ff;
 }

 #nav.pinned, #nav.pin-bottom {
    position:static !important;
    top: auto !important;
 }
 
 #nav {
     min-height: 780px;
     max-height: 780px;
     overflow-y:auto;
 }

 #submenu {
     min-height: 780px;
     max-height: 780px;
     overflow-y: auto;
 }

 #content {
     min-height: 780px;
     max-height: 780px;
     overflow-y: auto;
 }
 
 
 #login {
     width: 400px;
     height: 228px;
     position: absolute;
     top:0;
     bottom:0;
     left:0;
     right:0;
     margin: auto;
 }
/* Too narrow to support three columns */
/*@media all and (max-width: 640px) {

 #main, #page {
  -webkit-flex-flow: column;
          flex-direction: column;
 }

 #main > content, #main > nav, #main > submenu {
   Return them to document order 
  -webkit-order: 0;
          order: 0;
 }

 #main > nav, #main > submenu, header, footer {
  min-height: 50px;
  max-height: 50px;
 }
}*/